include ./includes/template.jade

block body
  style.
    .course-header {
      background-image: url("/images/courses/#{courseData.id}/#{courseData.coverCourse}");
      background-size: cover;
      position: relative;
      padding: 10rem 0;
    }
    .course-header-opacity {
      background: black;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      z-index: 1;
    }
    .course-header-content {
      position: relative;
      z-index: 2;
    }
    .course-description-container {
      padding: 5rem 0;
    }
    .course-description {
      max-width: 900px;
      margin: auto;
    }
    .course-thumbnail {
      position: absolute;
      object-fit: cover;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
    }
    .course-img-container {
      width: 25%;
      position: relative;
      margin: auto;
      display: inline-block;
    }
    .course-img-container:after {
      content: "";
      display: block;
      padding-bottom: 60%;
    }
    .course-image-section {
      width: 100%;
      position: relative;
      margin: auto;
      display: inline-block;
    }
    .course-image-section:after {
      content: "";
      display: block;
      padding-bottom: 50%;
    }
    .course-section-container {
      padding: 5rem 0;
    }

  include ./includes/navbar

  .section.course-header
    .course-header-opacity
    .course-header-content
      .container
        p.grey-text.text-lighten-5 CURSO DE
        h1.grey-text.text-lighten-5 #{courseData.title}
        a.btn-large.waves-effect.grey.lighten-5.grey-text.text-darken-4 Información de la carrera
        &nbsp;&nbsp;
        a.btn-large.waves-effect.waves-light.deep-orange.modal-trigger(href='#modalSuscribe') Inscribirse
  .course-description-container.section.grey.lighten-5
    .container
      p.flow-text.grey-text.text-darken-4.center.course-description
        <i class="fas fa-quote-left deep-orange-text"></i>
        | #{courseData.description}
        <i class="fas fa-quote-right deep-orange-text"></i>
  .z-depth-4
    .flex
      each thumbnail in courseData.thumbnails
        .course-img-container
          img.course-thumbnail(src="/images/courses/#{courseData.id}/#{thumbnail}", alt="")

    each section, index in courseData.sections
      if index % 2 === 0
        .section.grey.lighten-5
          .container
            .row        
              .col.s6
                .flex.flex-col.v-align-top
                  h3 #{section.title}
                  p #{section.description}
              .col.s6
                .course-image-section
                  img.course-thumbnail(src="/images/courses/#{courseData.id}/#{section.picture}")
      else
        .section.grey.lighten-4
          .container
            .row
              .col.s6
                .course-image-section
                  img.course-thumbnail(src="/images/courses/#{courseData.id}/#{section.picture}")
              .col.s6
                .flex.flex-col.v-align-top
                  h3 #{section.title}
                  p #{section.description}
        
  include ./includes/sections/campaigns/campaigns

  //- include ./includes/sections/suscribe/suscribe
  #suscribe.section
    .container
      h1 Suscribirse
  
  #modalSuscribe.modal
    .modal-content
      h4 ¿Estás interesado en #{courseData.title}?
      p Ya estás un paso más cerca de formar parte de Innatus. ¡Dejanos tus datos y te contactamos para iniciar el proceso de inscripción!
      
      .input-field
        input.validate(id="userCourse", type="hidden", value="#{courseData.id}")

      .input-field
        input.validate(id="userName", type="text")
        label(for="userName") Nombre completo

      .input-field
        input.validate(id="userEmail", type="email")
        label(for="userEmail") Correo electrónico

      .input-field
        input.validate(id="userPhone", type="tel")
        label(for="userPhone") Teléfono

    .modal-footer
      a.modal-close.waves-effect.waves-green.btn-flat(href='#!') Agree
  
  include ./includes/footer

  script.
    document.addEventListener('DOMContentLoaded', () => {
      const element = document.querySelector('#modalSuscribe');
      M.Modal.init(element);
    });